.footer {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid hsl(0 0% 89%);
  text-align: center;
}

.text {
  font-size: 0.75rem;
  color: hsl(0 0% 45.1%);
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
